
<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head>
    <meta charset="utf-8">
    <title>Group Discussion Process</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="../../https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="../../style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="../../style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="../../style.responsive.css" media="all">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin">
<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <script src="../../jquery.js"></script>
    <script src="../../script.js"></script>
    <script src="../../script.responsive.js"></script>
<meta name="description" content="Siltek Software Solutions is a leading Global Software Development and IT Consulting Services & Training Company, offering an array of customized IT related solutions, services and training to its Clients globally. We provide the adaptability and commitment of a smaller firm combined with the vast experience and profound expertise of a large consultancy. We provide system integration and strategic Software Development right through to implementing IT solutions.

Siltek imparts realistic solutions that leverage technology to meet mutual business objectives. Our people are unsurpassed in the business, with extensive consulting experience, deep technical skills and strong business acumen. This caliber of talent, coupled with proven procedures and a practical technique, makes Siltek exclusively competent to tackle your most demanding problems.">
<meta name="keywords" content="Siltek, Siltek Software Solutions, Siltek Corporation, Siltek India, Siltek Panjagutta, Panjagutta, Hyderabad Siltek, Siltek Hyderabad, Siltek Software Solutions Private Limited, Siltek Corp, Siltek Soft, Pradad Reddy Dinasarapu">


</head>
<body>
<div id="Siltek-main">
    <div id="Siltek-hmenu-bg" class="Siltek-bar Siltek-nav">
    </div>
<header class="Siltek-header">


    <div class="Siltek-shapes">
<div class="Siltek-object1343010599" data-left="2.73%"></div>
<div class="Siltek-object132855161" data-left="92.72%"></div>

            </div>




                        
                    
</header><div class="Siltek-sheet clearfix">
<nav class="Siltek-nav">
    <div class="Siltek-nav-inner">
    <ul class="Siltek-hmenu"><li><a href="/home/index" class="">HOME</a></li><li><a href="/aboutus/about" class="">ABOUT US</a><ul class="active"><li><a href="/aboutus/overview">Overview</a></li><li><a href="/aboutus/vision_mission_values">Vision,Mission &amp; Values</a></li></ul></li><li><a href="/training/training">TRAINING</a><ul><li><a href="/technology_training/technology_training">Technology Training</a><ul><li><a href="/technology_training/java_technologies">Java Technology</a></li><li><a href="/technology_training/microsoft_technologies">Microsoft Technologies</a></li><li><a href="/technology_training/google_android_technologies">Google Android Technology</a></li><li><a href="/technology_training/web_technologies">Web Technologies</a></li><li><a href="/technology_training/cloud_computing">Cloud Computing</a></li><li><a href="/technology_training/c_cpp_ds">C, C++, Data Structures</a></li><li><a href="/technology_training/php_mysql_training">PHP &amp; My SQL Training</a></li><li><a href="/technology_training/rubyonrails_technology">Ruby On Rails Technology</a></li><li><a href="/technology_training/database_training">Database Training</a></li></ul></li><li><a href="/campus_recruitment_training/campus_recruitment">Campus Recruitment Training</a><ul><li><a href="/campus_recruitment_training/aptitude_tests">Aptitude Tests</a></li><li><a href="/campus_recruitment_training/gd_process">Group Discussion Process</a></li><li><a href="/campus_recruitment_training/interview_skills">Interview Skills</a></li></ul></li><li><a href="/finishing_school/finishing_school">Finishing School</a></li><li><a href="/it_certification_training/it_certification_training">IT Certification Training</a></li><li><a href="/career_guidence/career_guidence">Career Guidance</a></li></ul></li><li><a href="/live_projects/live_projects">LIVE PROJECTS</a><ul><li><a href="/live_projects/industry_oriented_mini_projects">Industry Oriented Mini Projects</a></li><li><a href="/live_projects/academic_projects">Academic Projects</a></li></ul></li><li><a href="/services/service">SERVICES</a><ul><li><a href="/services/software_dev">Software Development</a></li><li><a href="/services/web_dev">Web Development</a></li><li><a href="/services/mobile_app_dev">Mobile Application Development</a></li></ul></li><li><a href="/clients/clients">CLIENTS</a></li><li><a href="/careers/careers">CAREERS</a></li><li><a href="/contactus/contactus">CONTACT US</a></li></ul> 
        </div>
    </nav><div class="Siltek-layout-wrapper">
                <div class="Siltek-content-layout">
                    <div class="Siltek-content-layout-row">
                        <div class="Siltek-layout-cell Siltek-content"><article class="Siltek-post Siltek-article">
                                
                                                
                <div class="Siltek-postcontent Siltek-postcontent-0 clearfix"><div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 100%" >
        <img width="954" height="323" alt=""  src="../../assets/group%20discussion%20banner%20image.jpg">
        <p>
        </p>
    </div>
    </div>
</div>
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 100%" >
        <img width="700" height="23" alt=""  src="../../assets/group%20discussion%20process.jpg"><br><span style="background-color: rgb(255, 255, 255); line-height: 14px;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Companies conduct group discussion after the written test so as to check on your interactive skills and how good you are at communicating with other people. The GD is to check how you behave, participate and contribute in a group, how much importance do you give to the group objective as well as your own, how well do you listen to viewpoints of others and how open-minded are you in accepting views contrary to your own. The aspects which make up a GD are verbal communication, non-verbal behavior, and conformation to norms, decision-making ability and cooperation. You should try to be as true as possible to these aspects.</span><br><span style="line-height: normal;"><br><span style="font-weight: bold; color: rgb(73, 178, 73); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Evaluation of a Group Discussion</span></span><br></span><p class="MsoNormal" style="margin-bottom: 0.0001pt; background-color: rgb(255, 255, 255);"><strong><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">A Group Discussion is evaluated on the following parameters:</span></strong></p><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; text-indent: -24px; background-color: rgb(255, 255, 255);"><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img width="15" height="14" alt=""  src="../../assets/bullet-18.jpg">&nbsp;Your Knowledge of the Topic<br><span style="background-color: rgb(255, 255, 255);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img width="15" height="14" alt=""  src="../../assets/bullet-19.jpg">&nbsp;Communication Skills<br><span style="background-color: rgb(255, 255, 255);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img width="15" height="14" alt=""  src="../../assets/bullet-20.jpg">&nbsp;Leadership Quality<br><span style="background-color: rgb(255, 255, 255);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img width="15" height="14" alt=""  src="../../assets/bullet-21.jpg">&nbsp;Creativity<br></span><span style="background-color: rgb(255, 255, 255);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img width="15" height="14" alt=""  src="../../assets/bullet-22.jpg">&nbsp;Initiative<br></span><span style="background-color: rgb(255, 255, 255);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img width="15" height="14" alt=""  src="../../assets/bullet-23.jpg">&nbsp;Self Confidence<br></span><span style="background-color: rgb(255, 255, 255);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img width="15" height="14" alt=""  src="../../assets/bullet-24.jpg">&nbsp;Assertiveness<br></span><span style="background-color: rgb(255, 255, 255);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img width="15" height="14" alt=""  src="../../assets/bullet-25.jpg">&nbsp;Decision Making and Facilitating Skills<br></span><span style="background-color: rgb(255, 255, 255);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img width="15" height="14" alt=""  src="../../assets/bullet-26.jpg">&nbsp;Enthusiasm<br></span><span style="background-color: rgb(255, 255, 255);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img width="15" height="14" alt=""  src="../../assets/bullet-27.jpg">&nbsp;Ability to think on ones feet<br></span><br></span><strong style="text-indent: 0px; background-color: rgb(255, 255, 255);"><span style="color: rgb(73, 178, 73);">GDs can be topic-based or case-based.</span></strong><br style="text-indent: 0px; background-color: rgb(255, 255, 255);"><span style="text-indent: 0px; background-color: rgb(255, 255, 255);">Topic based Gds can be classified into three types:-<br></span><span style="background-color: rgb(255, 255, 255);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img width="15" height="14" alt=""  src="../../assets/bullet-28.jpg">&nbsp;Factual Topics<br></span><span style="background-color: rgb(255, 255, 255);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img width="15" height="14" alt=""  src="../../assets/bullet-29.jpg">&nbsp;Controversial Topics<br></span><span style="background-color: rgb(255, 255, 255);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img width="15" height="14" alt=""  src="../../assets/bullet-30.jpg">&nbsp;Abstract Topics</span><br></span><br></span><br><br><br><br><br>
        <p>
        </p>
    </div>
    </div>
</div>
</div>
                                
                

</article></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="Siltek-footer">
  <div class="Siltek-footer-inner">
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 25%">
        <p><a href="http://www.siltekcorp.com/"></a></p>
        <p><a href="http://www.siltekcorp.com/"></a><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p style="text-align: left;"><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p style="text-align: left;"><span style="font-weight: bold; font-size: 18px; font-family: Arial; color: #FFFFFF;">Follow us: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;QR</span></p>
        
        <p style="text-align: left;"><a href="https://www.facebook.com/pages/Siltek-Software-Solutions-India-Pvt-Ltd/293485087452444" target="_blank"><img width="40" height="41" alt="" src="/assets/facebook.jpg" class=""></a>&nbsp;<a href="https://twitter.com/siltekcorp" target="_blank"><img width="40" height="40" alt="" src="/assets/twitter.jpg" class=""></a>&nbsp;<img width="40" height="40" alt=""  src="/assets/in-2.jpg">&nbsp;<img width="39" height="40" alt=""  src="/assets/gplus.jpg">&nbsp;<img width="39" height="39" alt="" class="Siltek-lightbox" src="/assets/qr-code.png"><br></p>
    </div>
    </div>
</div>
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 100%">
        <p>Copyright © 2011 - 2013. Siltek Software Solutions (I) Pvt. Ltd. All Rights Reserved&nbsp;<a href="http://www.siltek.net/" target="_blank"><span style="color: rgb(80, 173, 71);">Terms of use</span></a>&nbsp;|<span style="color: #000000;">&nbsp;</span><a href="http://www.siltek.net/" target="_blank"><span style="color: rgb(80, 173, 71);">Privacy Policy</span></a><br></p>
    </div>
    </div>
</div>

  </div>
</footer>

</div>


</body></html>
