
<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Artisteer v4.1.0.59861 -->
    <meta charset="utf-8">
    <title>Major Projects</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="../https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="../style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="../style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="../style.responsive.css" media="all">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin">
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <script src="../jquery.js"></script>
    <script src="../script.js"></script>
    <script src="../script.responsive.js"></script>
<meta name="description" content="Siltek Software Solutions is a leading Global Software Development and IT Consulting Services & Training Company, offering an array of customized IT related solutions, services and training to its Clients globally. We provide the adaptability and commitment of a smaller firm combined with the vast experience and profound expertise of a large consultancy. We provide system integration and strategic Software Development right through to implementing IT solutions.

Siltek imparts realistic solutions that leverage technology to meet mutual business objectives. Our people are unsurpassed in the business, with extensive consulting experience, deep technical skills and strong business acumen. This caliber of talent, coupled with proven procedures and a practical technique, makes Siltek exclusively competent to tackle your most demanding problems.">
<meta name="keywords" content="Siltek, Siltek Software Solutions, Siltek Corporation, Siltek India, Siltek Panjagutta, Panjagutta, Hyderabad Siltek, Siltek Hyderabad, Siltek Software Solutions Private Limited, Siltek Corp, Siltek Soft, Pradad Reddy Dinasarapu">


</head>
<body>
<div id="Siltek-main">
    <div id="Siltek-hmenu-bg" class="Siltek-bar Siltek-nav">
    </div>
<header class="Siltek-header">


    <div class="Siltek-shapes">
<div class="Siltek-object1343010599" data-left="2.73%"></div>
<div class="Siltek-object132855161" data-left="92.72%"></div>

            </div>




                        
                    
</header><div class="Siltek-sheet clearfix">
<nav class="Siltek-nav">
    <div class="Siltek-nav-inner">
    <ul class="Siltek-hmenu"><li><a href="/home/index" class="">HOME</a></li><li><a href="/aboutus/about" class="">ABOUT US</a><ul class="active"><li><a href="/aboutus/overview">Overview</a></li><li><a href="/aboutus/vision_mission_values">Vision,Mission &amp; Values</a></li></ul></li><li><a href="/training/training">TRAINING</a><ul><li><a href="/technology_training/technology_training">Technology Training</a><ul><li><a href="/technology_training/java_technologies">Java Technology</a></li><li><a href="/technology_training/microsoft_technologies">Microsoft Technologies</a></li><li><a href="/technology_training/google_android_technologies">Google Android Technology</a></li><li><a href="/technology_training/web_technologies">Web Technologies</a></li><li><a href="/technology_training/cloud_computing">Cloud Computing</a></li><li><a href="/technology_training/c_cpp_ds">C, C++, Data Structures</a></li><li><a href="/technology_training/php_mysql_training">PHP &amp; My SQL Training</a></li><li><a href="/technology_training/rubyonrails_technology">Ruby On Rails Technology</a></li><li><a href="/technology_training/database_training">Database Training</a></li></ul></li><li><a href="/campus_recruitment_training/campus_recruitment">Campus Recruitment Training</a><ul><li><a href="/campus_recruitment_training/aptitude_tests">Aptitude Tests</a></li><li><a href="/campus_recruitment_training/gd_process">Group Discussion Process</a></li><li><a href="/campus_recruitment_training/interview_skills">Interview Skills</a></li></ul></li><li><a href="/finishing_school/finishing_school">Finishing School</a></li><li><a href="/it_certification_training/it_certification_training">IT Certification Training</a></li><li><a href="/career_guidence/career_guidence">Career Guidance</a></li></ul></li><li><a href="/live_projects/live_projects">LIVE PROJECTS</a><ul><li><a href="/live_projects/industry_oriented_mini_projects">Industry Oriented Mini Projects</a></li><li><a href="/live_projects/academic_projects">Academic Projects</a></li></ul></li><li><a href="/services/service">SERVICES</a><ul><li><a href="/services/software_dev">Software Development</a></li><li><a href="/services/web_dev">Web Development</a></li><li><a href="/services/mobile_app_dev">Mobile Application Development</a></li></ul></li><li><a href="/clients/clients">CLIENTS</a></li><li><a href="/careers/careers">CAREERS</a></li><li><a href="/contactus/contactus">CONTACT US</a></li></ul> 
        </div>
    </nav>
<div class="Siltek-layout-wrapper">
                <div class="Siltek-content-layout">
                    <div class="Siltek-content-layout-row">
                        <div class="Siltek-layout-cell Siltek-content"><article class="Siltek-post Siltek-article">
                                
                                                
                <div class="Siltek-postcontent Siltek-postcontent-0 clearfix"><div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 100%" >
        <img width="429" height="322" alt=""  src="../assets/s.gif"><img width="79" height="323" alt=""  src="../assets/academic%20projects%20banner%20middle.jpg"><img width="450" height="323" alt=""  src="../assets/academic%20projects%20banner%20half%20image.jpg"><p>
        </p>
    </div>
    </div>
</div>
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 100%" >
        <p style="text-align: justify;"><img width="250" height="25" alt=""  src="../assets/academic%20projects%20text.jpg"><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Project plays a very important role in the life of students as it builds
         confidence to work independently and get them more practical experience.
         Through project work, a student will definitely groom into the kind of
         specialists who are much sought after in industry. Academic projects should be
         considered as an important role on the job training before doing real time JOB
         in an MNC. This starts from choosing an innovative project topic up to the
         delivery of project. MNC’s consider academic projects as an opportunity for the
         students to learn the technology thoroughly and also various aspects related to
         software development. That is why they give more importance to academic
         projects in an interview before offering the job. So a good technology combined
         with quality will be the right choice for the students.&nbsp;</span></p>
         
        <p style="text-align: justify;"><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>Siltek Software Solutions (I) Pvt.</b></span> <b><span style="font-size: 13px;">Ltd</span></b> is having zeal to help the students in their academics. We have
         successfully served a wide range of clients both in development and training
         sectors over 17 years. Thousands of engineering students have successfully
         completed their training and Industrial/academic projects including summer
         training. &nbsp;Projects are based on <b><span style="font-size: 13px;">IEEE papers</span></b>. Project Training for
         students (BE/ B.Tech/MCA/M.Sc/M.Tech) can opt for software projects like Mobile
         applications (Google android apps, IOS apps), Java/J2EE (JSP, Servlets, Swings,
         SOA, Struts, hibernate, XML), Microsoft .NET, PHP, Ruby on Rails and can gain
         domain exposure on Cloud Computing, Mobile Computing, Distributed &amp; Parallel
         Computing, Networking, Network &amp; Security, Wireless Sensor Networks, Web
         Mining, Data mining/Knowledge Engineering and Image Processing.</p><p style="text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;"></span><br><br><br><br><br><br><br><br><br><br>
        </p>
    </div>
    </div>
</div>
</div>
                                
                

</article></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="Siltek-footer">
  <div class="Siltek-footer-inner">
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 25%">
        <p><a href="http://www.siltekcorp.com/"></a></p>
        <p><a href="http://www.siltekcorp.com/"></a><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p style="text-align: left;"><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p style="text-align: left;"><span style="font-weight: bold; font-size: 18px; font-family: Arial; color: #FFFFFF;">Follow us: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;QR</span></p>
        
        <p style="text-align: left;"><a href="https://www.facebook.com/pages/Siltek-Software-Solutions-India-Pvt-Ltd/293485087452444" target="_blank"><img width="40" height="41" alt="" src="/assets/facebook.jpg" class=""></a>&nbsp;<a href="https://twitter.com/siltekcorp" target="_blank"><img width="40" height="40" alt="" src="/assets/twitter.jpg" class=""></a>&nbsp;<img width="40" height="40" alt=""  src="/assets/in-2.jpg">&nbsp;<img width="39" height="40" alt=""  src="/assets/gplus.jpg">&nbsp;<img width="39" height="39" alt="" class="Siltek-lightbox" src="/assets/qr-code.png"><br></p></div>
    </div>
</div>
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 100%">
        <p>Copyright © 2011 - 2013. Siltek Software Solutions (I) Pvt. Ltd. All Rights Reserved&nbsp;<a href="http://www.siltek.net/"><span style="color: rgb(80, 173, 71);">Terms of use</span></a>&nbsp;|<span style="color: #000000;">&nbsp;</span><a href="http://www.siltek.net/"><span style="color: rgb(80, 173, 71);">Privacy Policy</span></a><br></p>
    </div>
    </div>
</div>

  </div>
</footer>

</div>


</body></html>
