
<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head>   <meta charset="utf-8">
    <title>Live Projects</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="style.responsive.css" media="all">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="script.responsive.js"></script>
<meta name="description" content="Siltek Software Solutions is a leading Global Software Development and IT Consulting Services & Training Company, offering an array of customized IT related solutions, services and training to its Clients globally. We provide the adaptability and commitment of a smaller firm combined with the vast experience and profound expertise of a large consultancy. We provide system integration and strategic Software Development right through to implementing IT solutions.

Siltek imparts realistic solutions that leverage technology to meet mutual business objectives. Our people are unsurpassed in the business, with extensive consulting experience, deep technical skills and strong business acumen. This caliber of talent, coupled with proven procedures and a practical technique, makes Siltek exclusively competent to tackle your most demanding problems.">
<meta name="keywords" content="Siltek, Siltek Software Solutions, Siltek Corporation, Siltek India, Siltek Panjagutta, Panjagutta, Hyderabad Siltek, Siltek Hyderabad, Siltek Software Solutions Private Limited, Siltek Corp, Siltek Soft, Pradad Reddy Dinasarapu">


</head>
<body>
<div id="Siltek-main">
    <div id="Siltek-hmenu-bg" class="Siltek-bar Siltek-nav">
    </div>
<header class="Siltek-header">


    <div class="Siltek-shapes">
<div class="Siltek-object1343010599" data-left="2.73%"></div>
<div class="Siltek-object132855161" data-left="92.72%"></div>

            </div>




                        
                    
</header><div class="Siltek-sheet clearfix">
<nav class="Siltek-nav">
    <div class="Siltek-nav-inner">
    <ul class="Siltek-hmenu"><li><a href="/home/index" class="">HOME</a></li><li><a href="/aboutus/about" class="">ABOUT US</a><ul class="active"><li><a href="/aboutus/overview">Overview</a></li><li><a href="/aboutus/vision_mission_values">Vision,Mission &amp; Values</a></li></ul></li><li><a href="/training/training">TRAINING</a><ul><li><a href="/technology_training/technology_training">Technology Training</a><ul><li><a href="/technology_training/java_technologies">Java Technology</a></li><li><a href="/technology_training/microsoft_technologies">Microsoft Technologies</a></li><li><a href="/technology_training/google_android_technologies">Google Android Technology</a></li><li><a href="/technology_training/web_technologies">Web Technologies</a></li><li><a href="/technology_training/cloud_computing">Cloud Computing</a></li><li><a href="/technology_training/c_cpp_ds">C, C++, Data Structures</a></li><li><a href="/technology_training/php_mysql_training">PHP &amp; My SQL Training</a></li><li><a href="/technology_training/rubyonrails_technology">Ruby On Rails Technology</a></li><li><a href="/technology_training/database_training">Database Training</a></li></ul></li><li><a href="/campus_recruitment_training/campus_recruitment">Campus Recruitment Training</a><ul><li><a href="/campus_recruitment_training/aptitude_tests">Aptitude Tests</a></li><li><a href="/campus_recruitment_training/gd_process">Group Discussion Process</a></li><li><a href="/campus_recruitment_training/interview_skills">Interview Skills</a></li></ul></li><li><a href="/finishing_school/finishing_school">Finishing School</a></li><li><a href="/it_certification_training/it_certification_training">IT Certification Training</a></li><li><a href="/career_guidence/career_guidence">Career Guidance</a></li></ul></li><li><a href="/live_projects/live_projects">LIVE PROJECTS</a><ul><li><a href="/live_projects/industry_oriented_mini_projects">Industry Oriented Mini Projects</a></li><li><a href="/live_projects/academic_projects">Academic Projects</a></li></ul></li><li><a href="/services/service">SERVICES</a><ul><li><a href="/services/software_dev">Software Development</a></li><li><a href="/services/web_dev">Web Development</a></li><li><a href="/services/mobile_app_dev">Mobile Application Development</a></li></ul></li><li><a href="/clients/clients">CLIENTS</a></li><li><a href="/careers/careers">CAREERS</a></li><li><a href="/contactus/contactus">CONTACT US</a></li></ul> 
        </div>
    </nav>
<div class="Siltek-layout-wrapper">
                <div class="Siltek-content-layout">
                    <div class="Siltek-content-layout-row">
                        <div class="Siltek-layout-cell Siltek-content"><article class="Siltek-post Siltek-article">
                                
                                                
                <div class="Siltek-postcontent Siltek-postcontent-0 clearfix"><div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 100%" >
        <img width="954" height="323" alt=""  src="/assets/live%20projects%20banner%20image-2.jpg">
        <p>
        </p>
    </div>
    </div>
</div>
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 100%" >
        <img width="250" height="25" alt=""  src="/assets/live%20projects%20text-3.jpg"><br><p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.5in;"><span style="background-color: white; font-size: 13px; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; color: #2D3434;">Project-based learning is an instructional model
         that involves students in investigations of real time problems and risks while
         developing the projects. Projects that make for stronger classroom learning
         opportunities can vary widely in subject matter and scope, and can be delivered
         at a wide range of class levels. Projects serve specific, significant
         educational goals; they are not diversions or add-on to the “real” curriculum.</span></p>
         
        <p><b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; color: #2D3434;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Siltek Software
         Solutions (I) Pvt.Ltd</span></b> <span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; color: #2D3434;">is committed to provide a live experience to
         students while having important part of their curriculum – academic
         project/industry oriented mini project. We help the students to get a live
         exposure before entering the real work force.</span> <span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; color: #2D3434;">The project forms a major portion of any
         technical interview during the recruitment process and hence all aspirants
         planning to come to Siltek for the project guidance/ training program are
         requested to come mentally prepared to work seriously on the project, as it
         will have long lasting impact in shaping their career.</span><br></p><p><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><br></span></p><p><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><br></span></p><p><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><br></span></p><p><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><br></span></p><p><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><br></span></p><p><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><br></span></p>
        <p>
        </p>
    </div>
    </div>
</div>
</div>
                                
                

</article></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="Siltek-footer">
  <div class="Siltek-footer-inner">
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 25%">
        <p><a href="http://www.siltekcorp.com/"></a></p>
        <p><a href="http://www.siltekcorp.com/"></a><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p style="text-align: left;"><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p style="text-align: left;"><span style="font-weight: bold; font-size: 18px; font-family: Arial; color: #FFFFFF;">Follow us: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;QR</span></p>
        
        <p style="text-align: left;"><a href="https://www.facebook.com/pages/Siltek-Software-Solutions-India-Pvt-Ltd/293485087452444" target="_blank"><img width="40" height="41" alt="" src="/assets/facebook.jpg" class=""></a>&nbsp;<a href="https://twitter.com/siltekcorp" target="_blank"><img width="40" height="40" alt="" src="/assets/twitter.jpg" class=""></a>&nbsp;<img width="40" height="40" alt=""  src="/assets/in-2.jpg">&nbsp;<img width="39" height="40" alt=""  src="/assets/gplus.jpg">&nbsp;<img width="39" height="39" alt="" class="Siltek-lightbox" src="/assets/qr-code.png"><br></p> </div>
    </div>
</div>
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 100%">
        <p>Copyright © 2011 - 2013. Siltek Software Solutions (I) Pvt. Ltd. All Rights Reserved&nbsp;<a href="http://www.siltek.net/" target="_blank"><span style="color: rgb(80, 173, 71);">Terms of use</span></a>&nbsp;|<span style="color: #000000;">&nbsp;</span><a href="http://www.siltek.net/" target="_blank"><span style="color: rgb(80, 173, 71);">Privacy Policy</span></a><br></p>
    </div>
    </div>
</div>

  </div>
</footer>

</div>


</body></html>
