
<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head>    <meta charset="utf-8">
    <title>Training at Siltek Software Solutions</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="style.responsive.css" media="all">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="script.responsive.js"></script>
<meta name="description" content="Siltek Software Solutions is a leading Global Software Development and IT Consulting Services & Training Company, offering an array of customized IT related solutions, services and training to its Clients globally. We provide the adaptability and commitment of a smaller firm combined with the vast experience and profound expertise of a large consultancy. We provide system integration and strategic Software Development right through to implementing IT solutions.

Siltek imparts realistic solutions that leverage technology to meet mutual business objectives. Our people are unsurpassed in the business, with extensive consulting experience, deep technical skills and strong business acumen. This caliber of talent, coupled with proven procedures and a practical technique, makes Siltek exclusively competent to tackle your most demanding problems.">
<meta name="keywords" content="Siltek, Siltek Software Solutions, Siltek Corporation, Siltek India, Siltek Panjagutta, Panjagutta, Hyderabad Siltek, Siltek Hyderabad, Siltek Software Solutions Private Limited, Siltek Corp, Siltek Soft, Pradad Reddy Dinasarapu">


</head>
<body>
<div id="Siltek-main">
    <div id="Siltek-hmenu-bg" class="Siltek-bar Siltek-nav">
    </div>
<header class="Siltek-header">


    <div class="Siltek-shapes">
<div class="Siltek-object1343010599" data-left="2.73%"></div>
<div class="Siltek-object132855161" data-left="92.72%"></div>

            </div>




                        
                    
</header><div class="Siltek-sheet clearfix">
<nav class="Siltek-nav">
    <div class="Siltek-nav-inner">
    <ul class="Siltek-hmenu"><li><a href="/home/index" class="">HOME</a></li><li><a href="/aboutus/about" class="active">ABOUT US</a><ul class="active"><li><a href="/aboutus/overview">Overview</a></li><li><a href="/aboutus/vision_mission_values">Vision,Mission &amp; Values</a></li></ul></li><li><a href="/training/training">TRAINING</a><ul><li><a href="/technology_training/technology_training">Technology Training</a><ul><li><a href="/technology_training/java_technologies">Java Technology</a></li><li><a href="/technology_training/microsoft_technologies">Microsoft Technologies</a></li><li><a href="/technology_training/google_android_technologies">Google Android Technology</a></li><li><a href="/technology_training/web_technologies">Web Technologies</a></li><li><a href="/technology_training/cloud_computing">Cloud Computing</a></li><li><a href="/technology_training/c_cpp_ds">C, C++, Data Structures</a></li><li><a href="/technology_training/php_mysql_training">PHP &amp; My SQL Training</a></li><li><a href="/technology_training/rubyonrails_technology">Ruby On Rails Technology</a></li><li><a href="/technology_training/database_training">Database Training</a></li></ul></li><li><a href="/campus_recruitment_training/campus_recruitment">Campus Recruitment Training</a><ul><li><a href="/campus_recruitment_training/aptitude_tests">Aptitude Tests</a></li><li><a href="/campus_recruitment_training/gd_process">Group Discussion Process</a></li><li><a href="/campus_recruitment_training/interview_skills">Interview Skills</a></li></ul></li><li><a href="/finishing_school/finishing_school">Finishing School</a></li><li><a href="/it_certification_training/it_certification_training">IT Certification Training</a></li><li><a href="/career_guidence/career_guidence">Career Guidance</a></li></ul></li><li><a href="/live_projects/live_projects">LIVE PROJECTS</a><ul><li><a href="/live_projects/industry_oriented_mini_projects">Industry Oriented Mini Projects</a></li><li><a href="/live_projects/academic_projects">Academic Projects</a></li></ul></li><li><a href="/services/service">SERVICES</a><ul><li><a href="/services/software_dev">Software Development</a></li><li><a href="/services/web_dev">Web Development</a></li><li><a href="/services/mobile_app_dev">Mobile Application Development</a></li></ul></li><li><a href="/clients/clients">CLIENTS</a></li><li><a href="/careers/careers">CAREERS</a></li><li><a href="/contactus/contactus">CONTACT US</a></li></ul> 
        </div>
    </nav>

<div class="Siltek-layout-wrapper">
                <div class="Siltek-content-layout">
                    <div class="Siltek-content-layout-row">
                        <div class="Siltek-layout-cell Siltek-content"><article class="Siltek-post Siltek-article">
                                
                                                
                <div class="Siltek-postcontent Siltek-postcontent-0 clearfix"><div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 100%" >
        <img width="954" height="323" alt=""  src="/assets/training%20and%20placemnt%20banner.jpg"><p><img width="300" height="25" alt=""  src="/assets/training%20at%20siltek.jpg">&nbsp; <span style="color: rgb(54, 71, 73); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;"><br></span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Siltek’s Training Division offers specialized
         Training Programs that map to the current industry standards. The focus of the
         Training is to facilitate students with Live Projects on latest technologies
         like</span> <b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Mobile</span></b> <b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Applications Development (Android, iOS), Cloud Computing</span></b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">,
        </span> <b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">MS .NET and Java etc.,</span></b> <span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">under the strict guidance of Industry Experts.</span> <b></b></p>
         
        <p style="text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Such activity will be implemented at our
         Software Development Center. Our training division has state-of-art
         infrastructure with the latest machines, high-end Routers and Switches,
         Multimedia Projectors for training etc. Students have an opportunity
         to do</span> <b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">IEEE projects</span></b> <span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">and</span> <b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">regular projects.</span></b><br></p>
         
        <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">We also have a Dedicated Placement Cell with 100%
         placement assistance and we also help our students with Interview Preparation
         and Personality Development Programs</span></p><p>
        </p>
    </div>
    </div>
</div>
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 25%" >
        <p><br></p>
    </div><div class="Siltek-layout-cell" style="width: 50%" >
        <table class="Siltek-article"><tbody><tr><td style="width: 50%; text-align: justify; "><b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px; ">Microsoft .NET</span></b><br></td><td style="width: 50%; text-align: justify; "><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px; ">Visual C#.NET/VB.NET, ASP.NET, .NET Framework </span><br></td></tr><tr><td style="width: 50%; text-align: justify; "><b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px; ">SUN JAVA</span></b><br></td><td style="width: 50%; text-align: justify; "><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px; ">Core JAVA(J2SE), Advanced JAVA (J2EE), RMI,
                        Servlets, JSP, EJB, Struts, J2ME, Springs, Hibernate</span><br></td></tr><tr><td style="width: 50%; text-align: justify; "><b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px; ">Android Application Development</span></b><br></td><td style="width: 50%; text-align: justify; "><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px; ">Introduction to Android, Android Architecture
                        Overview, Android Installation &amp; Eclipse, Android Project Development
                        Structure, Main Buildig Block, User Interface, SQLite Database, Real Time
                        Android Application</span><br></td></tr><tr><td style="width: 50%; text-align: justify; "><b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px; ">Cloud Computing</span></b><br></td><td style="width: 50%; text-align: justify; "><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px; ">Introduction to Cloud Computing, Vmware Vsphere
                        Family-Cloud, Eucalyptus Cloud Amazon Ec2, Virtualizaiton-Vmware ESX Server,
                        Cloud Security</span><br></td></tr></tbody></table>
    </div><div class="Siltek-layout-cell" style="width: 25%" >
        <p><br></p>
    </div>
    </div>
</div>
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 100%" >
        <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Placements:</span></b></p>
        
        <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">We provide 100% Job Assistance and expert
        Pre-Placement advice up till you are secured in any worthy company.</span></p>
        
        <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">It is a fact that education is not solely about
        acquiring technical skills but also the acquisition of a personality that helps
        students enhance their academic learning and excel in their jobs/careers. In
        view of this, we chart career avenues for students, empower them on their
        technical skills and personalities and eventually present them to the prospective
        employers.</span></p>
        
        <p style="text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">We
        are proud of our proactive Placement Cell that constantly upgrades its
        knowledge base on IT Industries and is effectively equipped to steer the
        students through the pre-placement barriers until they are settled with a
        reputable job. Our Placement Cell provides the latest placement updates and
        constantly interacts with the industry professionals for campus interviews.
        They also update you on the latest Job Openings in various companies and impart
        Expert advice to prepare your Resume</span><br></p>
        
        <p style="text-align: justify;"><b><u><span style="text-transform: uppercase; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Why Siltek?</span></u></b><br></p>
        
        <p style="text-align: justify;"><b><span style="text-transform: uppercase; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Infrastructure</span></b><br></p>
        
        <ul type="disc">
        <li class="MsoNormal" style="line-height: normal; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">At Siltek, you’ll have access to
         state-of-the-art lab with one to one PC for practice. At lab, you can work
         for any number of hours during the working hours in weekdays and during
         the weekends. For students who cannot afford the travel, we will visit
         your college and impart training with the help of the college
         infrastructure</span>&nbsp;&nbsp;</li></ul><p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;">
        <b><span style="text-transform: uppercase; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Faculty</span></b></p>
        
        <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">The quality and
        effectiveness of any training program depends on the instructors.</span></p>
        
        <ul type="disc">
        <li class="MsoNormal" style="line-height: normal; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Siltek instructors are
         professionals, who are knowledgeable and have real-world experience in
         application development.</span></li>
        <li class="MsoNormal" style="line-height: normal; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">The interactive session conducted
         during the class helps students to understand the concept and learn
         faster.</span></li>
        <li class="MsoNormal" style="line-height: normal; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">With rich experience in technology
         consulting, providing solutions for complex and diverse problems to
         corporate, all our instructors are well informed and conversant about the
         latest technological advancement in their areas of specialization.</span></li>
        </ul>
        
        <p style="text-align: justify;"><b><span style="text-transform: uppercase; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Course Curriculum</span></b><br></p>
        
        <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">We design and provide meaningful course
        content that focuses not just on software functionality, but also on how to get
        the real work done. All our training manuals and the practice exercises are
        developed in-house and are specifically tailored based on industry needs. This
        customized approach is the hallmark of Siltek.</span></p>
        
        <ul type="disc">
        <li class="MsoNormal" style="line-height: normal; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Constant Research and development
         ensures that our curriculum is up to date and industry relevant with
         reference to new technological advancements.</span></li>
        <li class="MsoNormal" style="line-height: normal; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Course content that strikes a
         balance between concepts and tool based learning.</span></li>
        </ul>
        
        <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><b><span style="text-transform: uppercase; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Centrally Located</span></b></p>
        
        <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">We are located in the heart of</span> <b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Punjagutta</span></b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">. You can find transportation
        from any part of the twin cities.</span></p>
        
        <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><b><span style="text-transform: uppercase; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">BRAND</span></b></p>
        
        <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">A</span> <b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">widely
        recognized organization</span></b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">, both in the</span> <b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">USA
        and India</span></b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">, which commands loyalty and goodwill among the corporate for its
        quality and consistent performance</span></p>
        
        <p style="text-align: justify;"><b><span style="text-transform: uppercase; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">placements</span></b><br></p>
        
        <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Committed to build a long-term relationship
        with the students, Siltek provides Placement support to all its students
        enrolled in the training programs. The idea behind the placement cell is to
        identify students with the</span> <b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">right skills</span></b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">
        and guide them to the right job, thus enabling a promising career.</span></p>
        
        <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><b></b></p><p style="text-align: justify;"><b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Our parent company in the
        USA, Siltek Corporation, (with more than 17 years of experience) will recruit
        the best of the candidates to work for local and international clients. We
        might send you abroad on various visas to work at our client locations
        internationally.</span></b><br></p><p>
        </p>
    </div>
    </div>
</div>
</div>
                                
                

</article></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="Siltek-footer">
  <div class="Siltek-footer-inner">
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 25%">
        <p><a href="http://www.siltekcorp.com/"></a></p>
        <p><a href="http://www.siltekcorp.com/"></a><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p style="text-align: left;"><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p style="text-align: left;"><span style="font-weight: bold; font-size: 18px; font-family: Arial; color: #FFFFFF;">Follow us: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;QR</span></p>
        
        <p style="text-align: left;"><a href="https://www.facebook.com/pages/Siltek-Software-Solutions-India-Pvt-Ltd/293485087452444" target="_blank"><img width="40" height="41" alt="" src="/assets/facebook.jpg" class=""></a>&nbsp;<a href="https://twitter.com/siltekcorp" target="_blank"><img width="40" height="40" alt="" src="/assets/twitter.jpg" class=""></a>&nbsp;<img width="40" height="40" alt=""  src="/assets/in-2.jpg">&nbsp;<img width="39" height="40" alt=""  src="/assets/gplus.jpg">&nbsp;<img width="39" height="39" alt="" class="Siltek-lightbox" src="/assets/qr-code.png"><br></p></div>
    </div>
</div>
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 100%">
        <p>Copyright © 2011 - 2013. Siltek Software Solutions (I) Pvt. Ltd. All Rights Reserved&nbsp;<a href="http://www.siltek.net/" target="_blank"><span style="color: rgb(80, 173, 71);">Terms of use</span></a>&nbsp;|<span style="color: #000000;">&nbsp;</span><a href="http://www.siltek.net/" target="_blank"><span style="color: rgb(80, 173, 71);">Privacy Policy</span></a><br></p>
    </div>
    </div>
</div>

  </div>
</footer>

</div>


</body></html>
