
<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head>   <meta charset="utf-8">
    <title>Siltek Software Solutions</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="style.responsive.css" media="all">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="script.responsive.js"></script>
<meta name="description" content="Siltek Software Solutions (I) Pvt. Ltd, Btech academic projects, Bsc Academic projects in panjagutta, Siltek Panjagutta, Siltek Btech projects, Siltek .net academic projects, Siltek Android projects, Siltek SOftware clients, Free projects for Btech students, Download academic projects, Download free academic projects, IEEE projects for B tech, IEEE projects for M tech students, Siltek Inida, Siltek Andhra Pradesh ">
<meta name="keywords" content="Siltek, Siltek.net, Siltek Software, Prasad reddy, Panjagutta, Acadamic projects, prasadreddy dinasarapu, Dinasarapu, Siltek technology training, Academic projects for Btech, Mtech projects, Bsc Projects, Msc Projects, Academic civil projects, siltek panjagutta, siltek punjagutta">


<script>jQuery(function($) {
    'use strict';
    if ($.fn.slider) {
        $(".Siltek-slidecontainer61e023944d6046f7be158e17852cf796").each(function () {
            var slideContainer = $(this), tmp;
            var inner = $(".Siltek-slider-inner", slideContainer);
            var helper = null;

            if ($.support.transition) {
                helper = new BackgroundHelper();
                helper.init("fade", "next", $(".Siltek-slide-item", inner).first().css($.support.transition.prefix + "transition-duration"));
                inner.children().each(function () {
                    helper.processSlide($(this));
                });

            }


            inner.children().eq(0).addClass("active");
            slideContainer.slider({
                pause: 3600,
                speed: 600,
                repeat: true,
                animation: "fade",
                direction: "next",
                navigator: slideContainer.siblings(".Siltek-slidenavigator61e023944d6046f7be158e17852cf796"),
                helper: helper                
            });
        });
    }
});
</script><style>.Siltek-content .Siltek-postcontent-0 .layout-item-old-0 { margin-bottom: 20px;  }
.Siltek-content .Siltek-postcontent-0 .layout-item-old-1 { color: #D3DDDE; background: #258DA2;  }
.Siltek-content .Siltek-postcontent-0 .layout-item-old-2 { color: #D3DDDE; padding: 0px;  }
.Siltek-content .Siltek-postcontent-0 .layout-item-old-3 { padding: 10px;  }
.Siltek-content .Siltek-postcontent-0 .layout-item-0 { padding-right: 10px;padding-left: 10px;  }
.ie7 .Siltek-post .Siltek-layout-cell {border:none !important; padding:0 !important; }
.ie6 .Siltek-post .Siltek-layout-cell {border:none !important; padding:0 !important; }

.Siltek-slidecontainer61e023944d6046f7be158e17852cf796 {
    position: relative;
        width: 930px;
    height: 323px;
        }

.Siltek-slidecontainer61e023944d6046f7be158e17852cf796 .Siltek-slide-item
{

}



.Siltek-slidecontainer61e023944d6046f7be158e17852cf796 .Siltek-slide-item {
    -webkit-transition: 600ms ease-in-out opacity;
    -moz-transition: 600ms ease-in-out opacity;
    -ms-transition: 600ms ease-in-out opacity;
    -o-transition: 600ms ease-in-out opacity;
    transition: 600ms ease-in-out opacity;
    position: absolute;
    display: none;
	left: 0;
	top: 0;
	opacity: 0;
    width:  100%;
    height: 100%;
}

.Siltek-slidecontainer61e023944d6046f7be158e17852cf796 .active, .Siltek-slidecontainer61e023944d6046f7be158e17852cf796 .next, .Siltek-slidecontainer61e023944d6046f7be158e17852cf796 .prev {
    display: block;
}

.Siltek-slidecontainer61e023944d6046f7be158e17852cf796 .active {
    opacity: 1;
}

.Siltek-slidecontainer61e023944d6046f7be158e17852cf796 .next, .Siltek-slidecontainer61e023944d6046f7be158e17852cf796 .prev {
    width: 100%;
}

.Siltek-slidecontainer61e023944d6046f7be158e17852cf796 .next.forward, .Siltek-slidecontainer61e023944d6046f7be158e17852cf796 .prev.back {
    opacity: 1;
}

.Siltek-slidecontainer61e023944d6046f7be158e17852cf796 .active.forward {
    opacity: 0;
}

.Siltek-slidecontainer61e023944d6046f7be158e17852cf796 .active.back {
    opacity: 0;
}


.Siltek-slide61e023944d6046f7be158e17852cf7960 {
    background-image:  url('/assets/slide61e023944d6046f7be158e17852cf7960.png');
        background-size:  100%;
        background-position:  0 0;
    background-repeat: no-repeat;
}
.Siltek-slide61e023944d6046f7be158e17852cf7961 {
    background-image:  url('/assets/slide61e023944d6046f7be158e17852cf7961.png');
        background-size:  100%;
        background-position:  0 0;
    background-repeat: no-repeat;
}
.Siltek-slide61e023944d6046f7be158e17852cf7962 {
    background-image:  url('/assets/slide61e023944d6046f7be158e17852cf7962.png');
        background-size:  100%;
        background-position:  0 0;
    background-repeat: no-repeat;
}
.Siltek-slide61e023944d6046f7be158e17852cf7963 {
    background-image:  url('/assets/slide61e023944d6046f7be158e17852cf7963.png');
        background-size:  100%;
        background-position:  0 0;
    background-repeat: no-repeat;
}
.Siltek-slide61e023944d6046f7be158e17852cf7964 {
    background-image:  url('/assets/slide61e023944d6046f7be158e17852cf7964.png');
        background-size:  100%;
        background-position:  0 0;
    background-repeat: no-repeat;
}
.Siltek-slide61e023944d6046f7be158e17852cf7965 {
    background-image:  url('/assets/slide61e023944d6046f7be158e17852cf7965.png');
        background-size:  100%;
        background-position:  0 0;
    background-repeat: no-repeat;
}


.Siltek-slidenavigator61e023944d6046f7be158e17852cf796 {
  display: inline-block;
  position: absolute;
  direction: ltr !important;
  top: 285px;
  left: 70.43%;
  z-index: 101;
  line-height: 0 !important;
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
    white-space: nowrap;
    }
.Siltek-slidenavigator61e023944d6046f7be158e17852cf796
{
background: #B8C1C1;background: linear-gradient(top, transparent 0, transparent 100%) no-repeat;background: -webkit-linear-gradient(top, transparent 0, transparent 100%) no-repeat;background: -moz-linear-gradient(top, transparent 0, transparent 100%) no-repeat;background: -o-linear-gradient(top, transparent 0, transparent 100%) no-repeat;background: -ms-linear-gradient(top, transparent 0, transparent 100%) no-repeat;background: linear-gradient(top, transparent 0, transparent 100%) no-repeat;-svg-background: linear-gradient(top, transparent 0, transparent 100%) no-repeat;
-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;


padding:7px;





}
.Siltek-slidenavigator61e023944d6046f7be158e17852cf796 > a
{
background: #5A5A59;background: #5A5A59;background: #5A5A59;background: #5A5A59;background: #5A5A59;background: #5A5A59;background: #5A5A59;-svg-background: #5A5A59;
-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;



margin:0 10px 0 0;

width: 10px;

height: 10px;
}
.Siltek-slidenavigator61e023944d6046f7be158e17852cf796 > a.active
{
background: #50AE47;background: #50AE47;background: #50AE47;background: #50AE47;background: #50AE47;background: #50AE47;background: #50AE47;-svg-background: #50AE47;
-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;



margin:0 10px 0 0;

width: 10px;

height: 10px;
}
.Siltek-slidenavigator61e023944d6046f7be158e17852cf796 > a:hover
{
background: #5D7A7E;background: #5D7A7E;background: #5D7A7E;background: #5D7A7E;background: #5D7A7E;background: #5D7A7E;background: #5D7A7E;-svg-background: #5D7A7E;
-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;



margin:0 10px 0 0;

width: 10px;

height: 10px;
}

</style></head>
<body>
<div id="Siltek-main">
    <div id="Siltek-hmenu-bg" class="Siltek-bar Siltek-nav">
    </div>
<header class="Siltek-header">


    <div class="Siltek-shapes">
<div class="Siltek-object1343010599" data-left="2.73%"></div>
<div class="Siltek-object132855161" data-left="92.72%"></div>

            </div>




                        
                    
</header><div class="Siltek-sheet clearfix">
<nav class="Siltek-nav">
    <div class="Siltek-nav-inner">
    <ul class="Siltek-hmenu"><li><a href="/home/index" class="">HOME</a></li><li><a href="/aboutus/about" class="">ABOUT US</a><ul class="active"><li><a href="/aboutus/overview">Overview</a></li><li><a href="/aboutus/vision_mission_values">Vision,Mission &amp; Values</a></li></ul></li><li><a href="/training/training">TRAINING</a><ul><li><a href="/technology_training/technology_training">Technology Training</a><ul><li><a href="/technology_training/java_technologies">Java Technology</a></li><li><a href="/technology_training/microsoft_technologies">Microsoft Technologies</a></li><li><a href="/technology_training/google_android_technologies">Google Android Technology</a></li><li><a href="/technology_training/web_technologies">Web Technologies</a></li><li><a href="/technology_training/cloud_computing">Cloud Computing</a></li><li><a href="/technology_training/c_cpp_ds">C, C++, Data Structures</a></li><li><a href="/technology_training/php_mysql_training">PHP &amp; My SQL Training</a></li><li><a href="/technology_training/rubyonrails_technology">Ruby On Rails Technology</a></li><li><a href="/technology_training/database_training">Database Training</a></li></ul></li><li><a href="/campus_recruitment_training/campus_recruitment">Campus Recruitment Training</a><ul><li><a href="/campus_recruitment_training/aptitude_tests">Aptitude Tests</a></li><li><a href="/campus_recruitment_training/gd_process">Group Discussion Process</a></li><li><a href="/campus_recruitment_training/interview_skills">Interview Skills</a></li></ul></li><li><a href="/finishing_school/finishing_school">Finishing School</a></li><li><a href="/it_certification_training/it_certification_training">IT Certification Training</a></li><li><a href="/career_guidence/career_guidence">Career Guidance</a></li></ul></li><li><a href="/live_projects/live_projects">LIVE PROJECTS</a><ul><li><a href="/live_projects/industry_oriented_mini_projects">Industry Oriented Mini Projects</a></li><li><a href="/live_projects/academic_projects">Academic Projects</a></li></ul></li><li><a href="/services/service">SERVICES</a><ul><li><a href="/services/software_dev">Software Development</a></li><li><a href="/services/web_dev">Web Development</a></li><li><a href="/services/mobile_app_dev">Mobile Application Development</a></li></ul></li><li><a href="/clients/clients">CLIENTS</a></li><li><a href="/careers/careers">CAREERS</a></li><li><a href="/contactus/contactus">CONTACT US</a></li></ul> 
        </div>
    </nav>
<div class="Siltek-layout-wrapper">
                <div class="Siltek-content-layout">
                    <div class="Siltek-content-layout-row">
                        <div class="Siltek-layout-cell Siltek-content"><article class="Siltek-post Siltek-article">
                                
                                                
                <div class="Siltek-postcontent Siltek-postcontent-0 clearfix"><div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell layout-item-0" style="width: 100%" >
<div id="61e023944d6046f7be158e17852cf796" style="position: relative; display: inline-block; z-index: 0; margin: 0px;  border-width: 0px;  " class="Siltek-collage">
<div class="Siltek-slider Siltek-slidecontainer61e023944d6046f7be158e17852cf796" data-width="930" data-height="323">
    <div class="Siltek-slider-inner">
<div class="Siltek-slide-item Siltek-slide61e023944d6046f7be158e17852cf7960">

</div>
<div class="Siltek-slide-item Siltek-slide61e023944d6046f7be158e17852cf7961">

</div>
<div class="Siltek-slide-item Siltek-slide61e023944d6046f7be158e17852cf7962">

</div>
<div class="Siltek-slide-item Siltek-slide61e023944d6046f7be158e17852cf7963">

</div>
<div class="Siltek-slide-item Siltek-slide61e023944d6046f7be158e17852cf7964">

</div>
<div class="Siltek-slide-item Siltek-slide61e023944d6046f7be158e17852cf7965">

</div>

    </div>
</div>
<div class="Siltek-slidenavigator Siltek-slidenavigator61e023944d6046f7be158e17852cf796" data-left="70.43">
<a href="#" class="Siltek-slidenavigatoritem"></a><a href="#" class="Siltek-slidenavigatoritem"></a><a href="#" class="Siltek-slidenavigatoritem"></a><a href="#" class="Siltek-slidenavigatoritem"></a><a href="#" class="Siltek-slidenavigatoritem"></a><a href="#" class="Siltek-slidenavigatoritem"></a>
</div>



    </div>

        
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
        <br>
    </div>
    </div>
</div>
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell layout-item-0" style="width: 75%" >
        <p></p><p style="text-align: justify;"><img width="350" height="30" alt=""  src="/assets/HW2.jpg"><br><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Siltek Software Solutions Pvt. Ltd., is one of the
                                                 leading Software &amp; Web Development, IT Consulting and Training company with
                                                 extensive experience in designing and development of cutting edge software
                                                 solutions. We are a group of highly motivated IT professionals with a
                                                 capability to innovate and a strong desire to excel.</span></p>
                                                 
                                                <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">With our development office in INDIA and Offices in
                                                 USA, Siltek is a customer-centric company working to provide solutions that are
                                                 Reliable, On-time and Flexible. The solutions designed are purely based on
                                                 business and technical requirements of the project in hand. Software
                                                 Development Life Cycle is strictly followed to ensure the timely delivery of
                                                 the project without compromising on quality.</span>&nbsp;</p>
                                                 
                                                <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Siltek provides a broad range of offshore
                                                 outsourcing services including Application and Systems Level Programming on
                                                 Leading Technologies.</span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Siltek
                                                 has a niche in providing training to</span> <b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Engineering
                                                 (B.Tech/M.Tech), MBA/MCA</span></b> <span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><b><span style="font-size: 13px;">students</span></b></span><b> </b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">and <b><span style="font-size: 13px;">Freshers</span></b> who are<b> </b>looking for a
                                                 breakthrough</span><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">. Thousands of Engineering students have successfully completed their
                                                 Mini and Major projects. The focus of the Training is to facilitate students
                                                 with Live Projects on latest technologies like</span> <b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Mobile</span></b> <b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Applications Development (Android, iOS), Cloud
                                                 Computing</span></b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">, <b><span style="font-size: 13px;">MS .NET and Java etc.,</span></b></span> <b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">under the strict guidance
                                                 of Industry Experts.</span></b></p><span style="-webkit-border-horizontal-spacing: 2px; -webkit-border-vertical-spacing: 2px;"><table class="Siltek-article" style="margin-left: auto; "><tbody><tr><td style="text-align: right; width: 215px; "><span style="color: rgb(46, 59, 62); "><span style="line-height: 18.890625px; background-color: rgb(255, 255, 255); "><span style="color: rgb(51, 51, 51); font-family: Verdana; text-align: justify; background-color: rgb(255, 255, 255); "><span style="color: rgb(54, 71, 73); font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif; text-align: left; "><span style="text-align: justify; background-color: rgb(255, 255, 255); color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; "><span style="color: rgb(54, 71, 73); text-align: left; "><span style="line-height: 18.890625px; background-color: rgb(255, 255, 255); "><span style="color: rgb(51, 51, 51); font-family: Verdana; text-align: justify; background-color: rgb(255, 255, 255); font-size: 11px; "><span style="color: rgb(54, 71, 73); font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif; text-align: left; font-size: 13px; "><span style="text-align: justify; background-color: rgb(255, 255, 255); color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; "><span style="background-color: rgb(255, 255, 255); color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;  ">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="http://www.siltek.net/" style="color: rgb(82, 108, 111); background-color: rgb(255, 255, 255);  ">more</a></span>...</span></span></span></span></span></span></span></span></span></span></td></tr></tbody></table></span>
                                                <p>
                                                </p><p>
                            </p>
    </div><div class="Siltek-layout-cell layout-item-0" style="width: 25%" >
        <br><img width="217" height="29" alt=""  src="/assets/news%20and%20events%20smooth%20(1).jpg">E<span style="line-height: 18px; text-align: justify; background-color: rgb(255, 255, 255); color: rgb(78, 90, 89); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px; ">xcellent presentation of the sub- ject. like the faculty's interactivition with the&nbsp;</span><span style="line-height: 18px; text-align: justify; background-color: rgb(255, 255, 255); color: rgb(78, 90, 89); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px; ">students.</span>&nbsp;&nbsp; &nbsp;<br><table class="Siltek-article"><tbody><tr><td style="text-align: right; width: 215px; "><span style="color: rgb(46, 59, 62); "><span style="line-height: 18.890625px; background-color: rgb(255, 255, 255); "><span style="color: rgb(51, 51, 51); font-family: Verdana; text-align: justify; background-color: rgb(255, 255, 255); "><span style="color: rgb(54, 71, 73); font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif; text-align: left; "><span style="text-align: justify; background-color: rgb(255, 255, 255); color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; "><span style="color: rgb(54, 71, 73); text-align: left; "><span style="line-height: 18.890625px; background-color: rgb(255, 255, 255); "><span style="color: rgb(51, 51, 51); font-family: Verdana; text-align: justify; background-color: rgb(255, 255, 255); font-size: 11px; "><span style="color: rgb(54, 71, 73); font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif; text-align: left; font-size: 13px; "><span style="text-align: justify; background-color: rgb(255, 255, 255); color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px; "><a href="http://www.siltek.net/" style="color: rgb(82, 108, 111); background-color: rgb(255, 255, 255); "><span style="color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;  ">more</span></a>...</span></span></span></span></span></span></span></span></span></span></td></tr></tbody></table><span style="text-align: start; background-color: rgb(255, 255, 255); line-height: 18px; color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px; "><br><span style="background-color: rgb(255, 255, 255); "><span style="line-height: normal; text-align: left; background-color: rgb(255, 255, 255); color: rgb(78, 90, 89); font-size: 13px; ">Professionally experianced staff with&nbsp;</span><span style="text-align: justify; background-color: rgb(255, 255, 255); color: rgb(78, 90, 89); font-size: 13px; ">awesome explanation</span></span></span><span style="text-align: start; background-color: rgb(255, 255, 255); "><table class="Siltek-article" style="color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px; line-height: 18px; "><tbody><tr><td style="text-align: right; width: 215px; "><span style="font-family: Arial, sans-serif; line-height: 15px; text-align: start; background-color: rgb(255, 255, 255); font-size: 12px; "><span style="color: rgb(54, 71, 73); font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif; text-align: left; font-size: 13px; "><span style="line-height: 18.890625px; background-color: rgb(255, 255, 255); "><span style="color: rgb(51, 51, 51); font-family: Verdana; text-align: justify; background-color: rgb(255, 255, 255); font-size: 11px; "><span style="color: rgb(54, 71, 73); font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif; text-align: left; font-size: 13px; "><span style="text-align: justify; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); "><span style="background-color: rgb(255, 255, 255); color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px; "><span style="background-color: rgb(255, 255, 255); "><a href="http://www.siltek.net/" style="color: rgb(82, 108, 111); background-color: rgb(255, 255, 255); "><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;  ">more</span></a></span>...</span></span></span></span></span></span></span></td></tr></tbody></table></span><span style="-webkit-border-horizontal-spacing: 2px; -webkit-border-vertical-spacing: 2px;"><br></span>
    </div>
    </div>
</div>
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell layout-item-0" style="width: 25%" >
        <p><img width="219" height="21" alt=""  src="/assets/software%20development-3.jpg"><span style="color: rgb(90, 90, 89); font-family: Arial; font-size: 18px; font-weight: bold;"><br></span> <img width="216" height="90" alt=""  src="/assets/software%20development-2.jpg" ><br>
                                                                                                                                                <span style="text-align: justify; background-color: rgb(255, 255, 255);"><span style="color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; line-height: 18px;"></span></span></p><p style="text-align: justify; "><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; ">In today's competitive business environment, Custom Applications Solutions deliver the results, provid- ing ideal business performance and value.</span></p>
                                                                                                                                                <table class="Siltek-article" style="border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; width: 100%;">
                                                                                                                                                <tbody>
                                                                                                                                                <tr>
                                                                                                                                                <td style="width: 100%; text-align: right;"><span style="text-align: justify; background-color: rgb(255, 255, 255); color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;"><a href="http://siltek.net/services.aspx" style="color: rgb(82, 108, 111); background-color: rgb(255, 255, 255);"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;  ">more</span></a></span><span style="background-color: rgb(255, 255, 255); color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">...</span><br></td>
                                                                                                                                                </tr>
                                                                                                                                                </tbody>
                                                                                                                                                </table>
    </div><div class="Siltek-layout-cell layout-item-0" style="width: 25%" >
        <p><img width="210" height="24" alt=""  src="/assets/staff%20augmentation-2.jpg" ><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 18px; font-weight: bold;"><br></span> <img width="216" height="90" alt=""  src="/assets/staff-2.jpg" ><br>
                                                                                                                                                <span style="text-align: justify;"><span style="line-height: 14px; background-color: rgb(255, 255, 255); color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"></span></span></p><p style="text-align: justify; "><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; ">Many Clients today are competing to recruit and retain outstanding expertise to meet their business needs are certain without dependable resources</span><span style="background-color: rgb(255, 255, 255); "><span style="color: rgb(97, 112, 111); line-height: 14px; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; ">.<br></span></span></p>
                                                                                                                                                <table class="Siltek-article" style="border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; width: 100%;">
                                                                                                                                                <tbody>
                                                                                                                                                <tr>
                                                                                                                                                <td style="width: 100%; text-align: right;"><span style="color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; line-height: 18px;"><a href="http://siltek.net/careers.aspx" style="color: rgb(82, 108, 111); text-align: justify; background-color: rgb(255, 255, 255);"><span style="color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;  ">more</span></a>...</span></td></tr></tbody></table><p style="text-align: justify;"><span style="color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; line-height: 18px;"><br></span></p>
    </div><div class="Siltek-layout-cell layout-item-0" style="width: 25%" >
        <p><img width="210" height="24" alt=""  src="/assets/Training%20and%20placement%20JPEG.jpg"><span style="color: rgb(0, 0, 0); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 18px; font-weight: bold;"><br></span> <img width="216" height="90" alt=""  src="/assets/bpo-large.jpg"><br>
                                                                                                                                                <span style="text-align: justify; background-color: rgb(255, 255, 255);"><span style="line-height: 18px; color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><span style="line-height: 14px; background-color: rgb(255, 255, 255); color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"></span></span></span></p><p style="text-align: justify; "><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; ">Siltek delivers talent across the entire gamut of staffing and project requirements.</span><span style="color: rgb(69, 69, 69); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; ">Our Staff-Augment ation services allow you in getting qualified adept</span></p><p>
                                                                                                                                                </p><table class="Siltek-article" style="border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; width: 100%;">
                                                                                                                                                <tbody>
                                                                                                                                                <tr>
                                                                                                                                                <td style="width: 100%; text-align: right;"><span style="color: rgb(51, 51, 51); font-family: Verdana; font-size: 11px; line-height: 18px; text-align: justify; background-color: rgb(255, 255, 255);"><span style="text-align: left; color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><a href="http://siltek.net/training.aspx" style="color: rgb(82, 108, 111); text-align: justify; background-color: rgb(255, 255, 255);"><span style="color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;  ">more</span></a>...</span></span><br></td>
                                                                                                                                                </tr>
                                                                                                                                                </tbody>
                                                                                                                                                </table>
                                                                                                                                                <span style="text-align: justify; background-color: rgb(255, 255, 255);"><span style="background-color: rgb(255, 255, 255); font-size: 13px;"><span style="font-size: 13px;"><span style="color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; line-height: 18px;"><br></span></span></span></span><br><p>
                                                                                            </p>
    </div><div class="Siltek-layout-cell layout-item-0" style="width: 25%" >
        <p><br></p>
    </div>
    </div>
</div>
</div>
                                
                

</article></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="Siltek-footer">
  <div class="Siltek-footer-inner">
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 25%">
        <p><a href="http://www.siltekcorp.com/"></a></p>
        <p><a href="http://www.siltekcorp.com/"></a><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p style="text-align: left;"><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p style="text-align: left;"><span style="font-weight: bold; font-size: 18px; font-family: Arial; color: #FFFFFF;">Follow us: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;QR</span></p>
        
        <p style="text-align: left;"><a href="https://www.facebook.com/pages/Siltek-Software-Solutions-India-Pvt-Ltd/293485087452444" target="_blank"><img width="40" height="41" alt="" src="/assets/facebook.jpg" class=""></a>&nbsp;<a href="https://twitter.com/siltekcorp" target="_blank"><img width="40" height="40" alt="" src="/assets/twitter.jpg" class=""></a>&nbsp;<img width="40" height="40" alt=""  src="/assets/in-2.jpg">&nbsp;<img width="39" height="40" alt=""  src="/assets/gplus.jpg">&nbsp;<img width="39" height="39" alt="" class="Siltek-lightbox" src="/assets/qr-code.png"><br></p>
    </div>
    </div>
</div>
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 100%">
        <p>Copyright © 2011 - 2013. Siltek Software Solutions (I) Pvt. Ltd. All Rights Reserved&nbsp;<a href="http://www.siltek.net/"><span style="color: rgb(80, 173, 71);">Terms of use</span></a>&nbsp;|<span style="color: #000000;">&nbsp;</span><a href="http://www.siltek.net/"><span style="color: rgb(80, 173, 71);">Privacy Policy</span></a><br></p>
    </div>
    </div>
</div>

  </div>
</footer>

</div>


</body></html>
