
<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head>
    <meta charset="utf-8">
    <title>About Siltek Software Solutions</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="style.responsive.css" media="all">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="script.responsive.js"></script>
<meta name="description" content="Description">
<meta name="keywords" content="Keywords">


</head>
<body>
<div id="Siltek-main">
    <div id="Siltek-hmenu-bg" class="Siltek-bar Siltek-nav">
    </div>
<header class="Siltek-header">


    <div class="Siltek-shapes">
<div class="Siltek-object1343010599" data-left="2.73%"></div>
<div class="Siltek-object132855161" data-left="92.72%"></div>

            </div>




                        
                    
</header>
<div class="Siltek-sheet clearfix">
<nav class="Siltek-nav">
    <div class="Siltek-nav-inner">
    <ul class="Siltek-hmenu"><li><a href="/home/index" class="">HOME</a></li><li><a href="/aboutus/about" class="active">ABOUT US</a><ul class="active"><li><a href="/aboutus/overview">Overview</a></li><li><a href="/aboutus/vision_mission_values">Vision,Mission &amp; Values</a></li></ul></li><li><a href="/training/training">TRAINING</a><ul><li><a href="/technology_training/technology_training">Technology Training</a><ul><li><a href="/technology-training/java_technologies">Java Technology</a></li><li><a href="/technology_training/microsoft_technologies">Microsoft Technologies</a></li><li><a href="/technology_training/google_android_technologies">Google Android Technology</a></li><li><a href="/technology_training/web_technologies">Web Technologies</a></li><li><a href="/technology_training/cloud_computing">Cloud Computing</a></li><li><a href="/technology_training/c_cpp_ds">C, C++, Data Structures</a></li><li><a href="/technology_training/php_mysql_training">PHP &amp; My SQL Training</a></li><li><a href="/technology_training/rubyonrails_technology">Ruby On Rails Technology</a></li><li><a href="/technology_training/database_training">Database Training</a></li></ul></li><li><a href="/campus_recruitment_training/campus-recruitment">Campus Recruitment Training</a><ul><li><a href="/campus_recruitment_training/aptitude_tests">Aptitude Tests</a></li><li><a href="/campus_recruitment_training/gd_process">Group Discussion Process</a></li><li><a href="/campus_recruitment_training/interview_skills">Interview Skills</a></li></ul></li><li><a href="/finishing_school/finishing_school">Finishing School</a></li><li><a href="/it_certification_training/it_certification_training">IT Certification Training</a></li><li><a href="/career_guidence/career_guidence">Career Guidance</a></li></ul></li><li><a href="/live_projects/live_projects">LIVE PROJECTS</a><ul><li><a href="/live_projects/industry_oriented_mini_projects">Industry Oriented Mini Projects</a></li><li><a href="/live_projects/academic_projects">Academic Projects</a></li></ul></li><li><a href="/services/service">SERVICES</a><ul><li><a href="/services/software_dev">Software Development</a></li><li><a href="/services/web_dev">Web Development</a></li><li><a href="/services/mobile_app_dev">Mobile Application Development</a></li></ul></li><li><a href="/clients/clients">CLIENTS</a></li><li><a href="/careers/careers">CAREERS</a></li><li><a href="/contactus/contactus">CONTACT US</a></li></ul> 
        </div>
    </nav>
<div class="Siltek-layout-wrapper">
                <div class="Siltek-content-layout">
                    <div class="Siltek-content-layout-row">
                        <div class="Siltek-layout-cell Siltek-content"><article class="Siltek-post Siltek-article">
                                
                                                
                <div class="Siltek-postcontent Siltek-postcontent-0 clearfix"><img width="954" height="326" alt=""  src="/assets/about%20us%20banner-2.png"><br>
<p style="text-align: justify;"><img width="166" height="25" alt=""  src="/assets/about%20us.png">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>
<span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Siltek Software Solutions was established in 2011 and is a rapidly growing Software Development and IT Consulting Company offering a broad range of software expertise and services with a strong customer focus.</span></p>
<p style="text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Siltek employs highly experienced managers, trained technical personnel and subject matter experts. We closely work with our customers to collect and document the requirements and develop comprehensive project plans that are effectively implemented, managed, deployed within the estimated time frame and cost constraints.</span></p>
<p style="text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Since its inception, Siltek has steadily grown into a reputed provider of state-of-the-art and cost-effective software development services. Our ability to evolve and advance continuously and our open approach towards the dynamic business world have supported us to gain success in a short span of time. Today, Siltek provides onsite as well as off-shore software development services to its Clients globally.</span></p>
<p style="text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Siltek exercises open standards and commercial off the shelf technologies that bring responsive and adaptive solutions to our Clients. We also ensure that our Clients benefit from flexible solutions that maximize their returns on IT investment.</span><br></p>
<p>                 </p></div>
                                
                

</article></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="Siltek-footer">
  <div class="Siltek-footer-inner">
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 25%">
        <p><a href="http://www.siltekcorp.com/"></a></p>
        <p><a href="http://www.siltekcorp.com/"></a><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p style="text-align: left;"><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p style="text-align: left;"><span style="font-weight: bold; font-size: 18px; font-family: Arial; color: #FFFFFF;">Follow us: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;QR</span></p>
        <p style="text-align: left;"><a href="https://www.facebook.com/pages/Siltek-Software-Solutions-India-Pvt-Ltd/293485087452444" target="_blank"><img width="40" height="41" alt="" src="/assets/facebook.jpg" class=""></a>&nbsp;<a href="https://twitter.com/siltekcorp" target="_blank"><img width="40" height="40" alt="" src="/assets/twitter.jpg" class=""></a>&nbsp;<img width="40" height="40" alt=""  src="/assets/in-2.jpg">&nbsp;<img width="39" height="40" alt=""  src="/assets/gplus.jpg">&nbsp;<img width="39" height="39" alt="" class="Siltek-lightbox" src="/assets/qr-code.png"><br></p>
    </div>
    </div>
</div>
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 100%">
        <p>Copyright © 2011 - 2013. Siltek Software Solutions (I) Pvt. Ltd. All Rights Reserved&nbsp;<a href="http://www.siltek.net/" target="_blank"><span style="color: rgb(80, 173, 71);">Terms of use</span></a>&nbsp;|<span style="color: #000000;">&nbsp;</span><a href="http://www.siltek.net/" target="_blank"><span style="color: rgb(80, 173, 71);">Privacy Policy</span></a><br></p>
    </div>
    </div>
</div>

  </div>
</footer>

</div>


</body></html>
